@using authentication_security.Core.Application.ViewModels
@model UserViewModel
@{
    ViewBag.Title = "Usuario";
}

<div class="session-container">
    <div class="user-info-section">
        <h3>@Model.UserName</h3>
        <div class="user-details">
            <label>Nombre:</label>
            <p>@Model.Name @Model.LastName</p>
        </div>
        <div class="user-details">
            <label>Correo:</label>
            <p>@Model.Email</p>
        </div>
    </div>

    <div class="logout-section">
        <form asp-action="Logout" asp-controller="Login" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn-logout">Cerrar Sesión</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #e7ece6;
    }

    .session-container {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
    }

    .user-info-section {
        background-color: #3e3f3a;
        color: white;
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
    }

    .user-info-section h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .user-details {
        margin-top: 1rem;
    }

    .user-details label {
        font-weight: bold;
        font-size: 1rem;
    }

    .user-details p {
        font-size: 1.2rem;
        margin-top: 0.2rem;
    }

    .logout-section {
        margin-top: 2rem;
        text-align: center;
    }

    .btn-logout {
        background-color: #3e3f3a;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-logout:hover {
        background-color: #52524d;
    }
</style>
